extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title About us
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                .row.mx-0
                    .col-lg-6.col-12.mx-0.px-2.mb-5
                        .col-12.p-0.m-0.pt-2
                            .media.media-16x9.m-3
                                a.media-content(style='background-image:url(./assets/img/about-us/1.webp);' )
                    .col-lg-6.col-12.mx-0.px-2.mb-5
                        .row.h-100.align-content-center.mx-0
                            p.aboutUs-Title What is the mission you ask?
                            p.aboutUs-description.pt-2.mb-0  The mission behind this web platform is to keep traditional recipes alive. In a world where everything is rushed, and moms haven’t learned from Teta how to make Kebbeh, Foodie on a mission is here to document traditional dishes made by none other than Tetas and Jeddos.
                    .col-lg-6.col-12.mx-0.px-2.mb-5
                        .col-12.p-0.m-0.pt-2
                            .media.media-16x9.m-3
                                a.media-content(style='background-image:url(./assets/img/about-us/2.webp);' )
                    .col-lg-6.col-12.mx-0.px-2.mb-5
                        .row.h-100.align-content-center.mx-0
                            p.aboutUs-Title It even gets better!
                            p.aboutUs-description.pt-2.mb-0 Some of the recipes on the website are hard to make at home? No time to wait for that pastry to rise and bake? Foodie on a mission is helping you buy these homemade products . By doing so, you are contributing in keeping this heritage alive and encouraging these people to keep on going, keep on giving. 
                    .col-lg-6.col-12.mx-0.px-2.mb-5
                        .col-12.p-0.m-0.pt-2
                            .media.media-16x9.m-3
                                a.media-content(style='background-image:url(./assets/img/about-us/3.webp);' )
                    .col-lg-6.col-12.mx-0.px-2.mb-5
                        .row.h-100.align-content-center.mx-0
                            p.aboutUs-Title If you think this is it, think again.
                            p.aboutUs-description.pt-2.mb-0 For those of you who are used to the authentic recipes and flavors and ready for a change, Foodie on a mission is suggesting right next to some of the original recipes a twisted version. Because why not! 
        //- .row.justify-content-center.mx-0.py-5.brand-bg
            .col-12.col-sm-8.px-0
                p.aboutUs-description Now is your turn to contribute to the mission! Try making original recipes, buying authentic homemade products right from Lebanese homes, or even better, try the twisted method and share your experience.  
            .col-12.p-0.m-0.pt-2.mt-auto
                .row.mx-0.justify-content-center
                    a.btn.card-btn.no-shadow.px-4.py-2(href="/contact-us")
                        | Contact us