extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title CONTACT US
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            span.contactUs-title Drop us a line!
        .row.justify-content-center.mx-0.py-3
            span.contactUs-text Email: joanne.raad@gmail.com
        .row.justify-content-center.mx-0.py-3
            span.contactUs-text Phone Number: +961 3 429 792
