extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title DAABOUL SPICES
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-lg-8.px-2.px-lg-0.p-0.m-0.pt-2.embed-responsive.embed-responsive-16by9
                iframe.w-100.embed-responsive-item( src='https://www.youtube.com/embed/RY7vgbGDGXY', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                //- iframe(data-ux='Embed', allowfullscreen='', type='text/html', frameborder='0', src='//youtube.com/embed/gO-rI9VIk-k?rel=0&showinfo=0&start=0', data-aid='VIDEO_IFRAME_RENDERED')
        .row.justify-content-center.mx-0.py-3.description-bg
            .col-12.col-sm-10.px-2.px-lg-0.p-0
                .row.mx-0
                    .col-12.px-2.px-lg-0.m-0.pt-2
                        .row.mx-0.h-100.w-100.justify-content-center
                            .col-8.p-0.m-0.pt-2
                                p.recipie-Title.mb-0 International spices, the Lebanese way
                    .col-12.mx-0.px-2.px-lg-0.mb-4
                        .row.mx-0.h-100.w-100.justify-content-center
                            .col-8.p-0.m-0.pt-2
                                p.recipie-ingredient.pt-2.mb-0 From Zaatar to Saffron, Daaboul Spices gets the ingredients from all over over the world: India, Singapore, and of course, some are local. 
                                p.recipie-ingredient.pt-2.mb-0 The small shop located in Mazraa, Beirut, grinds, blends, and mixes different types of spices according to the taste of his clients. Globalization even made clients request new mixtures such as the Mexican Fajita, the Indian Beryani and the Saoudi Kabsseh. 
                                p.recipie-ingredient.pt-2.mb-0 Inspired by southern Lebanese communities, one of the most famous lebanese blends there is "Hawesh El Kebbeh" it is the main ingredient of the Kammouneh. 
                                p.recipie-ingredient.pt-2.mb-0 In the video above are the details for the Hawesh.  
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                #primary-slider.splide.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/daaboulSpices/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/daaboulSpices/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/daaboulSpices/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/daaboulSpices/5.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/daaboulSpices/1.webp')
                #secondary-slider.splide.my-3.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/daaboulSpices/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/daaboulSpices/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/daaboulSpices/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/daaboulSpices/5.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/daaboulSpices/1.webp')