extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title EASTER COOKIES | كعك العيد
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-lg-8.px-2.px-lg-0.p-0.m-0.pt-2.embed-responsive.embed-responsive-16by9
                iframe.w-100.embed-responsive-item( src='https://www.youtube.com/embed/V8xG6-rt7-k', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                //- iframe(data-ux='Embed', allowfullscreen='', type='text/html', frameborder='0', src='//youtube.com/embed/gO-rI9VIk-k?rel=0&showinfo=0&start=0', data-aid='VIDEO_IFRAME_RENDERED')
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-2.px-lg-0.p-0
                .row.mx-0
                    .col-12.px-2.px-lg-0.m-0.pt-2
                        p.recipie-Title.mb-0 Recipe
                    .col-lg-4.col-sm-6.col-12.mx-0.px-2.px-lg-0.mb-4
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Ingredients
                                p.recipie-ingredient.pt-2.mb-0 4 Kg fine semolina (Ferkha) 
                                p.recipie-ingredient.pt-2.mb-0 1.5 Kg Flour 
                                p.recipie-ingredient.pt-2.mb-0 2.5 Kg c of confectioner's sugar
                                p.recipie-ingredient.pt-2.mb-0 2 Tbsp Yeast
                                p.recipie-ingredient.pt-2.mb-0 1 Tbsp Mahleb 
                                p.recipie-ingredient.pt-2.mb-0 1 Tbsp Nutmeg
                                p.recipie-ingredient.pt-2.mb-0 1 Tbsp crushed cloves
                                p.recipie-ingredient.pt-2.mb-0 4 tsp Mastic
                                p.recipie-ingredient.pt-2.mb-0 1.6 Kg Ghee
                                p.recipie-ingredient.pt-2.mb-0 500 g Butter
                                p.recipie-ingredient.pt-2.mb-0 6.5 cups Milk 
                    .col-lg-4.col-sm-6.col-12.mx-0.px-2.px-lg-2.mb-4
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Method
                                p.recipie-ingredient.pt-2.mb-0 Mix all the dry ingredients. Gradually add the melted butter and ghee with a scrubbing motion until all the dough is sand-like in texture. Gradually add the warm milk and knead until the dough is homogenous.
                                p.recipie-ingredient.pt-2.mb-0 Rest overnight.
                                p.recipie-ingredient.pt-2.mb-0 Knead the dough again until it gets warmer. Take smaller portions and start forming into rings. To make the pattern, press the rings on a strainer and align on trays.
                                p.recipie-ingredient.pt-2.mb-0 Place the trays into a pre-heated oven and bake until your easter cookies are golden. 
                    .col-lg-4.col-sm-12.col-12.mx-0.px-2.px-lg-2.mb-4
                        .row.mx-0.h-100.w-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Twisted method
                                p.recipie-ingredient.pt-2.mb-0 For a twist from the traditional recipe, shape the Kaak into disks: round shapes, no hole, and bake.
                                p.recipie-ingredient.pt-2.mb-0 After cooling, make a sandwiched ice cream cookie. 
                                p.recipie-ingredient.pt-2.mb-0 Layer 1: Cookie disk. 
                                p.recipie-ingredient.pt-2.mb-0 Layer 2: Ashta or Mastic ice cream.
                                p.recipie-ingredient.pt-2.mb-0 Layer 3: Cookie disk.
                                p.recipie-ingredient.pt-2.mb-0 Garnish the edges with crushed pistachios or other nuts. 
                    .w-100.py-5.d-none.d-sm-block.d-lg-none
                        .row.justify-content-center
                            .page-title-underline.w-100
                    .col-12.px-2.px-lg-0.m-0.pt-2
                        p.recipie-Title.mb-1 Tips
                    .col-lg-8.col-sm-8.col-12.mx-0.px-2.px-lg-0.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                ul.px-3
                                    li
                                        p.recipie-ingredient.pt-2.mb-0 Make sure to scrub the dough thoroughly until no lumps are appearing before adding the milk. The flour and dry ingredients should absorb all the ghee and butter. You will know the flour is ready when it slightly changes color. 
                                    li
                                        p.recipie-ingredient.pt-4.mb-0 Remove the cookies from the oven before you think they are the right color. They will keep browning even when out. 
                                    li
                                        p.recipie-ingredient.pt-4.mb-0 After baking, place the easter cookies on a cool flat surface, or a rack. They will seem soft at first but then will get crispier as they cool.
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                #primary-slider.splide.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/5.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/6.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/7.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/8.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/9.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/1.webp')
                            
                            
                #secondary-slider.splide.my-3.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/5.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/6.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/7.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/8.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/9.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/easterCookies/1.webp')
        