extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title 40 YEARS OF LEBANESE COFFEE
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-lg-8.px-2.px-lg-0.p-0.m-0.pt-2.embed-responsive.embed-responsive-16by9
                iframe.w-100.embed-responsive-item( src='https://www.youtube.com/embed/C2LjIbXSDOQ', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                //- iframe(data-ux='Embed', allowfullscreen='', type='text/html', frameborder='0', src='//youtube.com/embed/gO-rI9VIk-k?rel=0&showinfo=0&start=0', data-aid='VIDEO_IFRAME_RENDERED')
        .row.justify-content-center.mx-0.py-3.description-bg
            .col-12.col-sm-10.px-2.px-lg-0.p-0
                .row.mx-0
                    .col-12.px-2.px-lg-0.m-0.pt-2
                        .row.mx-0.h-100.w-100.justify-content-center
                            .col-8.p-0.m-0.pt-2
                                p.recipie-Title.mb-0 On Saturdays, Ashrafieh smelled like coffee
                    .col-12.mx-0.px-2.px-lg-0.mb-4
                        .row.mx-0.h-100.w-100.justify-content-center
                            .col-8.p-0.m-0.pt-2
                                p.recipie-ingredient.pt-2.mb-0 While heading to Geitawi Hospital, Ashrafieh, you can spot on your left a sign: "Arome Cafe". Behind that glass window, sat Mr. Elias El Sokhn in front of his 30 year old Coffee Roaster. 
                                p.recipie-ingredient.pt-2.mb-0 On Saturdays, you could smell the aroma all over the neighborhood as he turned it on. 
                                p.recipie-ingredient.pt-2.mb-0 The coffee beans where brought from Brazil as green beans. He used to roast them lightly for Espresso Coffee, Medium or Dark, according to preferences. 
                                p.recipie-ingredient.pt-2.mb-0 Some Lebanese also like Cardamom in their blend. Mr Elias grinded the Cardamom seed with the choice of coffee roast right in front of his clients. 
                                p.recipie-ingredient.pt-2.mb-0 Foodie on a mission was honored to film this experience before "Arome Cafe" closed it's doors during 2020's economic crisis in Lebanon.
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                #primary-slider.splide.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/fortyYearsofCoffee/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/fortyYearsofCoffee/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/fortyYearsofCoffee/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/fortyYearsofCoffee/5.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/fortyYearsofCoffee/6.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/fortyYearsofCoffee/1.webp')
                #secondary-slider.splide.my-3.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/fortyYearsofCoffee/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/fortyYearsofCoffee/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/fortyYearsofCoffee/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/fortyYearsofCoffee/5.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/fortyYearsofCoffee/6.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/fortyYearsofCoffee/1.webp')
