extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title Nada Yehya, Fennel fritters/ Kawarma Tabbouleh
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-lg-8.px-2.px-lg-0.p-0.m-0.pt-2.embed-responsive.embed-responsive-16by9
                iframe.w-100.embed-responsive-item(  src='https://www.youtube.com/embed/ASUVdd8DwhQ', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                //- iframe(data-ux='Embed', allowfullscreen='', type='text/html', frameborder='0', src='//youtube.com/embed/gO-rI9VIk-k?rel=0&showinfo=0&start=0', data-aid='VIDEO_IFRAME_RENDERED')
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-2.px-lg-0.p-0
                .row.mx-0
                    .col-12.p-0.m-0.pt-2
                        p.recipie-Title Fennel Fritters Recipe
                    .col-lg-6.col-sm-6.col-12.mx-0.px-2.px-lg-0.mb-0
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Ingredients
                                p.recipie-ingredient.pt-2.mb-0 Fresh fennel leaves
                                p.recipie-ingredient.pt-2.mb-0 Eggs
                                p.recipie-ingredient.pt-2.mb-0 Flour
                                p.recipie-ingredient.pt-2.mb-0 Corse starch
                                p.recipie-ingredient.pt-2.mb-0 Salt 
                                p.recipie-ingredient.pt-2.mb-0 Pepper
                                p.recipie-ingredient.pt-2.mb-0 Dried coriander
                                p.recipie-ingredient.pt-2.mb-0 Vegetable Oil
                                p.recipie-subTitle.mb-1.mt-3 Alternative ingredients
                                p.recipie-ingredient.pt-2.mb-0 You can substitute the Fennel leaves with:
                                p.recipie-ingredient.pt-2.mb-0 Grated Zucchini
                                p.recipie-ingredient.pt-2.mb-0 Grated Potatoes
                                p.recipie-ingredient.pt-2.mb-0 Onions & Parsley
                                p.recipie-ingredient.pt-2.mb-0 or any other combination of veggies.
                    .col-lg-6.col-sm-6.col-12.mx-0.px-2.px-lg-0.mb-0
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Method
                                p.recipie-ingredient.pt-2.mb-0 Mix the eggs in a food processor, add the salt, pepper and dried coriander. Add a generous amount of washed and dried fresh fennel leaves. When the mixture is homogenous, gradually add the flour and 2 -3 tbsp of starch while checking the consistency. It should feel just like thick yogurt. 
                                p.recipie-ingredient.pt-2.mb-0 In a fairly deep pan, heat the vegetable oil. To test the temperature, put a small dollop. If it sizzles immediatly, the oil is ready. With a large spoon, gently drop the mixture and pat to shape it into a disc. Wait till crispy on one side, then flip. The fritter is done when it is golden on both sides. 
                                p.recipie-subTitle.mb-1.mt-4 Pro Tips
                                ul.px-3
                                    li
                                        p.recipie-ingredient.pt-2.mb-0 Make sure to remove the fritters from the oil a little lighter in color than wanted, it will keep browning while cooling. 
                                    li
                                        p.recipie-ingredient.pt-2.mb-0 For extra crispiness, start with high heat, then before removing, lower the heat so the fritter can completely cook from the inside. 
                                    li
                                        p.recipie-ingredient.pt-2.mb-0 When the frying is done, place the fritters on a rack for cooling so the air circulates all around them. This will prevet them from absorbing extra oil and becoming soggy.
                    .w-100.py-5
                        .row.justify-content-center
                            .page-title-underline.w-100
                    .col-12.p-0.m-0.pt-0
                        p.recipie-Title Kawarma Tabbouleh Recipe
                    .col-lg-6.col-sm-6.col-12.mx-0.px-2.px-lg-0.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Ingredients
                                p.recipie-ingredient.pt-2.mb-0 Cabbage
                                p.recipie-ingredient.pt-2.mb-0 1 cup Bulgur wheat 
                                p.recipie-ingredient.pt-2.mb-0 1/2 cup boiled water
                                p.recipie-ingredient.pt-2.mb-0 1 Pot of water
                                p.recipie-ingredient.pt-2.mb-0 3 Tbsp Kawarma 
                                p.recipie-ingredient.pt-2.mb-0 Cooked chickpeas
                                p.recipie-ingredient.pt-2.mb-0 3 spring onions
                                p.recipie-ingredient.pt-2.mb-0 Fresh mint
                                p.recipie-ingredient.pt-2.mb-0 Salt.
                    .col-lg-6.col-sm-6.col-12.mx-0.px-2.px-lg-0.mb-5
                        .row.mx-0.h-100
                            
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Method
                                p.recipie-ingredient.pt-2.mb-0  Boil the Water pot, add salt. Slice the cabbage into wedges and boil. In a heat-resistant glassware, put the bulgur wheat and gradually add the boiling water while stirring. When the bulgur is soft, add the Kawarma, and stir, then add the chickpeas. 
                                p.recipie-ingredient.pt-2.mb-0  If you feel that the Kawarma is still solid, lift on top of the cabbage pot and stir.
                                p.recipie-ingredient.pt-2.mb-0  Slice the Onions and mint, add on top of the bulgur mixture, decorate with the cooked cabbage leaves and serve while warm (Not too hot).  
                                p.recipie-ingredient.pt-2.mb-0  Traditionnaly this dish is eaten with your hands using the blanched cabbages instead of bread. 
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                #primary-slider.splide.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/5.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/6.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/7.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/1.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/8.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/9.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/10.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/11.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/12.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/13.webp')
                            
                            
                #secondary-slider.splide.my-3.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/5.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/6.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/7.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/1.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/8.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/9.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/10.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/11.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/12.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/fennelFritters-kawarmaTabbouleh/13.webp')