extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title Hidden Crumbs
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                .row.mx-0
                    .col-lg-4.col-12.mx-0.px-2.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-Title Daaboul Spices
                                .media.media-16x9.m-3
                                    a.media-content(href='/daaboul-spices',style='background-image:url(./assets/img/hiddenCrumbs/daaboulSpices/1.webp);' )
                            //- .col-12.p-0.m-0.p-3
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-description.pt-2.mb-0  Mr. Walid Daaboul (a spice tradesman for over 70 years) explains what are Lebanon's favorite spice blends, and some of their uses. 
                                p.card-thubnail-description.pt-2.mb-0 
                            .col-12.p-0.m-0.pt-2.mt-auto
                                .row.mx-0.justify-content-center
                                    a.btn.card-btn.no-shadow.px-4.py-2(href="/daaboul-spices")
                                        | Find out more
                    .col-lg-4.col-12.mx-0.px-2.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-Title Yerba Matte
                                .media.media-16x9.m-3
                                    a.media-content(href='/yerba-matte',style='background-image:url(./assets/img/hiddenCrumbs/yerbaMatte/1.webp);' )
                            //- .col-12.p-0.m-0.p-3
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-description.pt-2.mb-0  Yerba Matte a herb brought from Argentina by Lebanese expats, is often attributed to the Druze community, especially in the Shouf Region. 
                                p.card-thubnail-description.pt-2.mb-0 
                            .col-12.p-0.m-0.pt-2.mt-auto
                                .row.mx-0.justify-content-center
                                    a.btn.card-btn.no-shadow.px-4.py-2(href="/yerba-matte")
                                        | Find out more
                    .col-lg-4.col-12.mx-0.px-2.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-Title 40 Years of coffee
                                .media.media-16x9.m-3
                                    a.media-content(href='/40-years-of-coffee',style='background-image:url(./assets/img/hiddenCrumbs/fortyYearsofCoffee/1.webp);' )
                            //- .col-12.p-0.m-0.p-3
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-description.pt-2.mb-0 Mr. Elias El Sokhn (Coffee maker for 40 years) explains the whole process from green to roasted coffee bean, without forgetting about the perfect cup of Lebanese coffee! 
                                p.card-thubnail-description.pt-2.mb-0
                            .col-12.p-0.m-0.pt-2.mt-auto
                                .row.mx-0.justify-content-center
                                    a.btn.card-btn.no-shadow.px-4.py-2(href="/40-years-of-coffee")
                                        | Find out more
                    .col-lg-4.col-12.mx-0.px-2.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-Title Orange blossom water-Maghdouche
                                .media.media-16x9.m-3
                                    a.media-content(href='https://foodieonamissionblog.wordpress.com/2018/03/27/orange-blossom-water-maghdouche/',style='background-image:url(./assets/img/hiddenCrumbs/orangeBlossomWater/1.webp);' )
                            //- .col-12.p-0.m-0.p-3
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-description.pt-2.mb-0  You know it's springtime, when you step into Maghdouche and the smell of orange blossoms hits you. This visit shows how much a tiny flower is impactful and how it affects a whole city's economy.
                                p.card-thubnail-description.pt-2.mb-0
                            .col-12.p-0.m-0.pt-2.mt-auto
                                .row.mx-0.justify-content-center
                                    a.btn.card-btn.no-shadow.px-4.py-2(href="https://foodieonamissionblog.wordpress.com/2018/03/27/orange-blossom-water-maghdouche/")
                                        | Find out more
                    .col-lg-4.col-12.mx-0.px-2.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-Title Wild mushroom foraging
                                .media.media-16x9.m-3
                                    a.media-content(href='/wild-mushroom-foraging',style='background-image:url(./assets/img/hiddenCrumbs/wildMushroomForaging/1.webp);' )
                            //- .col-12.p-0.m-0.p-3
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-description.pt-2.mb-0 While taking us on a stroll around his home, Mr. Tony remembers his parents' stories while picking wild mushrooms. He then cooks them on the traditional Lebanese stove. 
                            .col-12.p-0.m-0.pt-2.mt-auto
                                .row.mx-0.justify-content-center
                                    a.btn.card-btn.no-shadow.px-4.py-2(href="/wild-mushroom-foraging")
                                        | Find out more
                    .col-lg-4.col-12.mx-0.px-2.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-Title Maarouk Ramadan
                                .media.media-16x9.m-3
                                    a.media-content(href='/maaarouk',style='background-image:url(./assets/img/hiddenCrumbs/maarouk/1.webp);' )
                            //- .col-12.p-0.m-0.p-3
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-description.pt-2.mb-0 Maarouk is a Golden fluffy, bread made only during Ramadan month. Sharifeh managed to make all the neighborhood's residents queue up for a loaf of her secret recipe. 
                            .col-12.p-0.m-0.pt-2.mt-auto
                                .row.mx-0.justify-content-center
                                    a.btn.card-btn.no-shadow.px-4.py-2(href="/maaarouk")
                                        | Find out more
                    .col-12.px-0
                        .row.mx-0.justify-content-center
                            .col-lg-4.col-12.mx-0.px-2.mb-5
                                .row.mx-0.h-100
                                    .col-12.p-0.m-0.pt-2
                                        p.card-thubnail-Title Iftar Saïda
                                        .media.media-16x9.m-3
                                            a.media-content(href='/ramadan-saida',style='background-image:url(./assets/img/hiddenCrumbs/ramadanSaida/1.webp);' )
                                    //- .col-12.p-0.m-0.p-3
                                    .col-12.p-0.m-0.pt-2
                                        p.card-thubnail-description.pt-2.mb-0 If we were to give a title to the Lebanese city Saïda, it  would be the land of sweets.
                                        p.card-thubnail-description.pt-2.mb-0 And what better season to visit Sidon than during Ramadan! Join the Kalash Family to their traditional Iftar.
                                    .col-12.p-0.m-0.pt-2.mt-auto
                                        .row.mx-0.justify-content-center
                                            a.btn.card-btn.no-shadow.px-4.py-2(href="/ramadan-saida")
                                                | Find out more
                            .col-lg-4.col-12.mx-0.px-2.mb-5
                                .row.mx-0.h-100
                                    .col-12.p-0.m-0.pt-2
                                        p.card-thubnail-Title Makdous
                                        .media.media-16x9.m-3
                                            a.media-content(href='/makdous',style='background-image:url(./assets/img/hiddenCrumbs/makdous/1.webp);' )
                                    //- .col-12.p-0.m-0.p-3
                                    .col-12.p-0.m-0.pt-2
                                        p.card-thubnail-description.pt-2.mb-0 Amira and Bassam prepare their yearly mouneh in El Kaa village. Bordered by vegetable fields, no wonder this town feels so alive during the fall season. In this video, we highlight one product of their Mouneh: Makdous.
                                    .col-12.p-0.m-0.pt-2.mt-auto
                                        .row.mx-0.justify-content-center
                                            a.btn.card-btn.no-shadow.px-4.py-2(href="/makdous")
                                                | Find out more
                    