extends layout.pug
block brand
block content 
    .col-12.px-0.pt-4(style="")
        .row.justify-content-center.mx-0
            .col-10.px-0
                .row.justify-content-center.mx-0.home-page-landing(style="")
                    //- .col-12.col-sm-6.logo-background
                        //- img.w-100.h-100(src="./assets/img/fomLogo.png")
                    .col-12.col-sm-6.px-5.px-sm-3.px-lg-5.py-3
                        .row.h-100.align-items-center.mx-0
                            img(style="width:100%" src="./assets/img/fomLogo.png")
                    .col-12.col-sm-6
                        .row.align-items-center.h-100.mx-0.pb-2
                            .col-12.px-0.welcome-bg.welcome-text-container.p-5
                                p.main-welcome.bold Welcome
                                p.main-welcome Join me in my culinary journey and my mission to document authentic home-made food and traditional recipes.
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title MISSIONS' HIGHLIGHTS
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                #primary-slider.splide.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide.link-cursor(onclick="window.location='/kammouneh-uses';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/1.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/kammouneh-uses';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/2.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/40-years-of-coffee';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/3.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/40-years-of-coffee';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/4.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/40-years-of-coffee';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/5.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/daaboul-spices';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/6.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/40-years-of-coffee';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/7.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/daaboul-spices';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/8.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/yerba-matte';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/9.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/yerba-matte';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/10.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/zlebe-and-3ouwaymat';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/11.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/zenkol';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/12.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/zenkol';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/13.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/fritters-kawarma-tabouleh';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/14.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/fritters-kawarma-tabouleh';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/15.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/fritters-kawarma-tabouleh';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/16.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/fritters-kawarma-tabouleh';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/17.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/fritters-kawarma-tabouleh';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/18.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/makhlouta-fava-beans';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/19.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/makhlouta-fava-beans';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/20.webp')
                            li.splide__slide.link-cursor(onclick="window.location='/easter-cookies';")
                                img.main-carousel-img( src='./assets/img/mainCarousel/21.webp')
                #secondary-slider.splide.my-3.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/1.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/5.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/6.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/7.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/8.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/9.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/10.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/11.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/12.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/13.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/14.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/15.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/16.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/17.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/18.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/19.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/20.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/mainCarousel/21.webp')
