extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title FRESH KAMMOUNEH, POTATO/TOMATO KEBBEH
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-lg-8.px-2.px-lg-0.p-0.m-0.pt-2.embed-responsive.embed-responsive-16by9
                iframe.w-100.embed-responsive-item(  src='https://www.youtube.com/embed/o82_hUKT-Ak', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                //- iframe(data-ux='Embed', allowfullscreen='', type='text/html', frameborder='0', src='//youtube.com/embed/gO-rI9VIk-k?rel=0&showinfo=0&start=0', data-aid='VIDEO_IFRAME_RENDERED')
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-2.px-lg-0.p-0
                .row.mx-0
                    .col-12.p-0.m-0
                        p.recipie-Title Fresh Kammouneh Recipe
                    .col-lg-6.col-sm-6.col-12.mx-0.px-2.px-lg-0.mb-0
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Ingredients
                                p.recipie-ingredient.pt-2.mb-0  1 1/2 cup - Fresh mint leaves
                                p.recipie-ingredient.pt-2.mb-0  1/4 cup - Fresh Marjoram (Mardakoosh) (or 2 Tbsp dried if not available) 
                                p.recipie-ingredient.pt-2.mb-0  1/2 cup - Fresh Basil 
                                p.recipie-ingredient.pt-2.mb-0  2 pods - Chili Peppers(optional) 
                                p.recipie-ingredient.pt-2.mb-0  2 cups - Hawesh El Kebbeh Spice blend
                                p.recipie-ingredient.pt-2.mb-0  1 cup - Bulgur Wheat.  
                    .col-lg-6.col-sm-6.col-12.mx-0.px-2.px-lg-0.mb-0
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 So what is "Hawesh"?
                                p.recipie-ingredient.pt-2.mb-0  Hawesh is a dry blend of herbs and spices that you can get from the "Aattar". It can be stored in the pantry as all of it's components are not prone to oxidization. 
                                p.recipie-ingredient.pt-2.mb-0  Once fresh ingredients such as onions are added, it becomes the "Kammouneh" that should be stored in the freezer. Below is how to transform your Hawesh to Kammouneh
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Method
                                p.recipie-ingredient.pt-2.mb-0  With a blender, whizz all the ingredients in the order stated. Note that no salt is added to the mix so it doesn't  change the color of the green herbs. 
                                p.recipie-ingredient.pt-2.mb-0  After thoroughly blending, it is very important to store it in a plastic bag in the freezer. The Kammouneh can not be stored in the pantry with other spice mixes and blends because of the oisture all the fresh ingredients contain.
                    .w-100.py-5
                        .row.justify-content-center
                            .page-title-underline.w-100
                    .col-12.p-0.m-0
                        p.recipie-Title Potato Kebbeh Recipe
                    .col-lg-6.col-sm-6.col-12.mx-0.px-2.px-lg-0.mb-0
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Ingredients
                                p.recipie-ingredient.pt-2.mb-0  7 Boiled and peeled potatoes
                                p.recipie-ingredient.pt-2.mb-0  1 cup - Bulgur wheat 
                                p.recipie-ingredient.pt-2.mb-0  4 Tbsp Salted water
                                p.recipie-ingredient.pt-2.mb-0  1 cup - Walnuts 
                                p.recipie-ingredient.pt-2.mb-0  3 cups - Kammouneh
                                p.recipie-ingredient.pt-2.mb-0  Olive oil - for garnish 
                    .col-lg-6.col-sm-6.col-12.mx-0.px-2.mb-0
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Method
                                p.recipie-ingredient.pt-2.mb-0  Rub the bulgur wheat and the salted water. Mash the potatoes and mix. Crush the walnuts  and add the to the mash as well as the Kammouneh.
                                p.recipie-ingredient.pt-2.mb-0  Mix well. Serve and garnish with walnuts and be generous with some extra virgin olive oil. 
                    .w-100.py-5
                        .row.justify-content-center
                            .page-title-underline.w-100
                    .col-12.p-0.m-0
                        p.recipie-Title Tomato Kebbeh Recipe
                    .col-lg-6.col-sm-6.col-12.mx-0.px-2.px-lg-0.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Ingredients
                                p.recipie-ingredient.pt-2.mb-0  3 cups-Fine bulgur wheat
                                p.recipie-ingredient.pt-2.mb-0  3 Finely Chopped tomatoes
                                p.recipie-ingredient.pt-2.mb-0  4 Tbsp - Kammouneh
                                p.recipie-ingredient.pt-2.mb-0  Salt to taste
                    .col-lg-6.col-sm-6.col-12.mx-0.px-2.px-lg-0.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Method
                                p.recipie-ingredient.pt-2.mb-0  Place the chopped tomatoes in a strainer. After all the tomato water is collected in a bowl, soak the bulgur wheat in it for 2-3 hours. 
                                p.recipie-ingredient.pt-2.mb-0  Blend the soaked wheat with the chopped tomatoes, and the Kammouneh. Salt to taste. 
                                p.recipie-ingredient.pt-2.mb-0  Serve in a dish and garnish with mint leaves, radishes and, of course, extra virgin olive oil.  
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                #primary-slider.splide.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/kammouneh-kebbeh/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/kammouneh-kebbeh/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/kammouneh-kebbeh/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/kammouneh-kebbeh/1.webp')
                            
                #secondary-slider.splide.my-3.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/kammouneh-kebbeh/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/kammouneh-kebbeh/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/kammouneh-kebbeh/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/kammouneh-kebbeh/1.webp')
