extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title Maarouk Ramadan
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-lg-8.px-2.px-lg-0.p-0.m-0.pt-2.embed-responsive.embed-responsive-16by9
                iframe.w-100.embed-responsive-item( src='https://www.youtube.com/embed/JaxiE0kNTAE', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                //- iframe(data-ux='Embed', allowfullscreen='', type='text/html', frameborder='0', src='//youtube.com/embed/gO-rI9VIk-k?rel=0&showinfo=0&start=0', data-aid='VIDEO_IFRAME_RENDERED')
        .row.justify-content-center.mx-0.py-3.description-bg
            .col-12.col-sm-10.px-2.px-lg-0.p-0
                .row.mx-0
                    .col-12.px-2.px-lg-0.m-0.pt-2
                        .row.mx-0.h-100.w-100.justify-content-center
                            .col-8.p-0.m-0.pt-2
                                p.recipie-Title.mb-0 From Syria to Lebanon
                    .col-12.mx-0.px-2.px-lg-0.mb-4
                        .row.mx-0.h-100.w-100.justify-content-center
                            .col-8.p-0.m-0.pt-2
                                p.recipie-ingredient.pt-2.mb-0 In the heart of Bourj Hammoud, Ms. Sharifeh introduced Maarouk. The original recipe comes from Aleppo, Syria; a province known for its delicious food and authentic recipes. 
                                p.recipie-ingredient.pt-2.mb-0 Even though the delicacy is only baked during the holy month of Ramadan, people waiting in line are from various nationalities and confessions. This sweet brioche-like bread is topped with sesame, black seed, and coconut shreds. 
                                p.recipie-ingredient.pt-2.mb-0 Mrs. Sharifeh the baker, wouldn't confess and kept the recipe secret just to make us crave for more.
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                #primary-slider.splide.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/5.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/6.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/7.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/8.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/1.webp')
                #secondary-slider.splide.my-3.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/5.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/6.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/7.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/8.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/maarouk/1.webp')