extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title ASH MONDAY, LEBANESE VEGAN FOOD. FAOUZIEH BOUTROS
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-lg-8.px-2.px-lg-0.p-0.m-0.pt-2.embed-responsive.embed-responsive-16by9
                iframe.w-100.embed-responsive-item( src='https://www.youtube.com/embed/jUPDB9Z8Ix8', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                //- iframe(data-ux='Embed', allowfullscreen='', type='text/html', frameborder='0', src='//youtube.com/embed/gO-rI9VIk-k?rel=0&showinfo=0&start=0', data-aid='VIDEO_IFRAME_RENDERED')
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-2.px-lg-0.p-0
                .row.mx-0
                    .col-12.p-0.m-0.pt-2
                        p.recipie-Title Makhlouta Recipe
                    .col-lg-6.col-sm-6.col-12.mx-0.px-2.px-lg-0.mb-0
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Ingredients
                                p.recipie-ingredient.pt-2.mb-0 Chickpeas
                                p.recipie-ingredient.pt-2.mb-0 Kidney beans
                                p.recipie-ingredient.pt-2.mb-0 Lentil 
                                p.recipie-ingredient.pt-2.mb-0 Bulgur wheat 
                                p.recipie-ingredient.pt-2.mb-0 Wheat
                                p.recipie-ingredient.pt-2.mb-0 Chopped onions
                                p.recipie-ingredient.pt-2.mb-0 Cumin 
                                p.recipie-ingredient.pt-2.mb-0 Salt
                                p.recipie-ingredient.pt-2.mb-0 Olive oil
                    .col-lg-6.col-sm-6.col-12.mx-0.px-2.px-lg-0.mb-0
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 What does "Makhlouta" mean?
                                p.recipie-ingredient.pt-2.mb-0  Makhlouta literally means mixed. This typical villager dish can't get any easier. Just like it's name, it's a mixture of the grains and beans in your pantry, cooked in a pot.
                                p.recipie-ingredient.pt-2.mb-0  Fawzieh Boutros guides us step by step to make this recipe, along green fava beans with coriander, another villagers' recipe of spring time. 
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Method
                                p.recipie-ingredient.pt-2.mb-0   After soaking the grains and beans overnight, strain and pour into a pressure cooker (Presto).
                                p.recipie-ingredient.pt-2.mb-0  Meanwhile, fry the onions until golden brown. After the beans are done, pour the onions with their oil on the bean mix, add salt and cumin, stir, and simmer for 10-15 mins. Turn the heat off and drizzle with some olive oil. 
                    .w-100.py-5
                        .row.justify-content-center
                            .page-title-underline.w-100
                    .col-12.p-0.m-0.pt-2
                        p.recipie-Title Fava Beans and Coriander Recipe
                    .col-lg-6.col-sm-6.col-12.mx-0.px-2.px-lg-0.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Ingredients
                                p.recipie-ingredient.pt-2.mb-0.italic.small It was very hard getting the recipes from Fawzieh, we got them the lebanese way: 
                                p.recipie-ingredient.pt-2.mb-0.italic.small eyeballing is the key, no exact mesurements are required 
                                p.recipie-ingredient.pt-2.mb-0 Whole fava bean pods
                                p.recipie-ingredient.pt-2.mb-0 Chopped onions
                                p.recipie-ingredient.pt-2.mb-0 Fresh coriander
                                p.recipie-ingredient.pt-2.mb-0 Garlic
                                p.recipie-ingredient.pt-2.mb-0 Lemon Juice
                                p.recipie-ingredient.pt-2.mb-0 Salt 
                                p.recipie-ingredient.pt-2.mb-0 Olive Oil 
                    .col-lg-6.col-sm-6.col-12.mx-0.px-2.px-lg-0.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 You mean with the pods?
                                p.recipie-ingredient.pt-2.mb-0  Fava Bean season in Lebanon means sitting on a terrace with the warm sun hitting after a long winter, holding beer bottles before a big Sunday meal. 
                                p.recipie-ingredient.pt-2.mb-0  But before splitting beans and pods, when favas are still green and tender, this old recipe is made to savor the whole flavor of the pods.
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Method
                                p.recipie-ingredient.pt-2.mb-0  Wash the fava bean pods thoroughly. Cut the pods into two-inch bites.  Meanwhile, fry the onions with some olive oil. 
                                p.recipie-ingredient.pt-2.mb-0  When they are cooked and golden, pour the beans into the pot, and toss regularly. 
                                p.recipie-ingredient.pt-2.mb-0  Wash the Coriander. In a food processor mince the garlic, coriander and salt until they are very fine. Pour the lemon juice over them. 
                                p.recipie-ingredient.pt-2.mb-0  When the fava beans are tender and have lost their bitterness, add to the pot the coriander mixture and stir. Salt to taste. Simmer with the lid open for 7-10 mins and serve.
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                #primary-slider.splide.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/5.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/6.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/7.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/8.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/9.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/1.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/10.webp')
                            
                #secondary-slider.splide.my-3.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/5.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/6.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/7.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/8.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/9.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/1.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/savoury/ashMonday/10.webp')
