extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title FOODIE ON A MISSION IN THE MEDIA
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                .row.mx-0
                    .col-lg-6.col-12.mx-0.px-2.mb-5.embed-responsive.embed-responsive-16by9
                        iframe.w-100.embed-responsive-item( data-ux='Embed', allowfullscreen='', type='text/html', frameborder='0', src='https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FAlarabyEntertainment%2Fvideos%2F1709897329157738%2F&show_text=0&width=560', data-aid='VIDEO_IFRAME_RENDERED')
                    .col-lg-6.col-12.mx-0.px-2.mb-5
                        .row.h-100.align-content-center.mx-2
                            p.aboutUs-Title Interview with the Pan-Arab morning show "Sabah Al Nour", Al Arabi TV
                            p.aboutUs-description.pt-2.mb-0.mx-2 Al Arabi TV highlighted what inspired Foodie on a mission and how it all started all by filming during one of the recipe's shooting. Click on the video to watch this report.
            .col-12.col-sm-10.px-0
                .row.mx-0
                    .col-lg-6.col-12.mx-0.px-2.px-lg-0.mb-5
                        .media.media-16x9
                            a.media-content(href="https://lebanon.dotrust.org/story/joanne/" style='background-image:url(./assets/img/media/dot.jpg);' )
                    .col-lg-6.col-12.mx-0.px-2.mb-5
                        .row.h-100.align-content-center.mx-2
                            p.aboutUs-Title Lebanesse representative at DOT unconference, Kenya 2018
                            p.aboutUs-description.pt-2.mb-0.mx-2  As part of Digital Opportunity Trust's Unconference 2018 in Kenya, Foodie on a mission along with 2 other social entrepreneurial initiatives were representing Lebanon. Foodie on a mission showcased the core mission, spreading awareness of our heritage, and of course, you can't talk about Lebanese food without tasting samples. 
                            .col-12.p-0.m-0.pt-2.mt-5
                                .row.mx-0.justify-content-center
                                    a.btn.card-btn.no-shadow.px-4.py-2(href="https://lebanon.dotrust.org/story/joanne/")
                                        | Find out more
            .col-12.col-sm-10.px-0
                .row.mx-0
                    .col-lg-6.col-12.mx-0.px-2.mb-5.embed-responsive.embed-responsive-16by9
                        iframe.w-100.embed-responsive-item( data-ux='Embed', allowfullscreen='', type='text/html', frameborder='0', src='//youtube.com/embed/gO-rI9VIk-k?rel=0&showinfo=0&start=0', data-aid='VIDEO_IFRAME_RENDERED')
                    .col-lg-6.col-12.mx-0.px-2.mb-5
                        .row.h-100.align-content-center.mx-2
                            p.aboutUs-Title Interview at the Pan-Arab morning show "Alam Al Sabah", Future TV
                            p.aboutUs-description.pt-2.mb-0.mx-2  During this interview in the tech slot, Ali Chehade highlighted Foodie on a Mission's online store that features Lebanese mouneh products. The aim was to emphasize the ease of access to traditional products instead of wandering around Lebanon to find the best mouneh makers.