extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title Iftar Saïda
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-lg-8.px-2.px-lg-0.p-0.m-0.pt-2.embed-responsive.embed-responsive-16by9
                iframe.w-100.embed-responsive-item( src='https://www.youtube.com/embed/TOGQ58UC7l8', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                //- iframe(data-ux='Embed', allowfullscreen='', type='text/html', frameborder='0', src='//youtube.com/embed/gO-rI9VIk-k?rel=0&showinfo=0&start=0', data-aid='VIDEO_IFRAME_RENDERED')
        .row.justify-content-center.mx-0.py-3.description-bg
            .col-12.col-sm-10.px-2.px-lg-0.p-0
                .row.mx-0
                    .col-12.px-2.px-lg-0.m-0.pt-2
                        .row.mx-0.h-100.w-100.justify-content-center
                            .col-8.p-0.m-0.pt-2
                                p.recipie-Title.mb-0 Ramadan Kareem!
                    .col-12.mx-0.px-2.px-lg-0.mb-4
                        .row.mx-0.h-100.w-100.justify-content-center
                            .col-8.p-0.m-0.pt-2
                                p.recipie-ingredient.pt-2.mb-0 During this holy month, Mrs. Kalash sets up the "sofra" every day, expecting her children and grand children. She explains what Ramadan means to her and how important family gatherings are. She also describes the traditional recipes she prepares for the feast.
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                #primary-slider.splide.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/ramadanSaida/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/ramadanSaida/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/ramadanSaida/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/ramadanSaida/5.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/ramadanSaida/1.webp')
                #secondary-slider.splide.my-3.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/ramadanSaida/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/ramadanSaida/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/ramadanSaida/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/ramadanSaida/5.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/ramadanSaida/1.webp')