extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title Savoury
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                .row.mx-0
                    .col-lg-6.col-12.mx-0.px-2.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-Title Fresh Kammouneh, Potato/Tomato Kebbeh
                                .media.media-16x9.m-3
                                    a.media-content(href='/kammouneh-uses',style='background-image:url(./assets/img/savoury/kammouneh-kebbeh/1.webp);' )
                            //- .col-12.p-0.m-0.p-3
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-description.pt-2.mb-0  In this post, 3 recipes are made by Mrs. Alia Dbouk. 
                                p.card-thubnail-description.pt-2.mb-0 Using "Hawesh el kebbeh", she makes fresh Kammouneh, and adds it to the Potato Kebbeh as well as the Tomato Kebbeh.  
                            .col-12.p-0.m-0.pt-2.mt-auto
                                .row.mx-0.justify-content-center
                                    a.btn.card-btn.no-shadow.px-4.py-2(href="/kammouneh-uses")
                                        | Find out more
                    .col-lg-6.col-12.mx-0.px-2.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-Title Ash Monday, Lebanese vegan food. Faouzieh Boutros
                                .media.media-16x9.m-3
                                    a.media-content(href='/makhlouta-fava-beans',style='background-image:url(./assets/img/savoury/ashMonday/1.webp);' )
                            //- .col-12.p-0.m-0.p-3
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-description.pt-2.mb-0  During lent season, Teta Faouzieh cooks all vegetarian and vegan food brought back from the past. Jeddo being from Kobayat village, always reminds her of what his mom used to cook in this remote region. 
                                p.card-thubnail-description.pt-2.mb-0 Here is Faouzieh's Makhlouta and bonus recipe: Green Fava beans with coriander and garlic.  
                            .col-12.p-0.m-0.pt-2.mt-auto
                                .row.mx-0.justify-content-center
                                    a.btn.card-btn.no-shadow.px-4.py-2(href="/makhlouta-fava-beans")
                                        | Find out more
                    .col-lg-6.col-12.mx-0.px-2.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-Title Nada Yehya, Fennel fritters/ Kawarma Tabbouleh
                                .media.media-16x9.m-3
                                    a.media-content(href='/fritters-kawarma-tabouleh',style='background-image:url(./assets/img/savoury/fennelFritters-kawarmaTabbouleh/1.webp);' )
                            //- .col-12.p-0.m-0.p-3
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-description.pt-2.mb-0 Mrs. Nada Yeha invites you to her weekly Friday family gathering. Two of the recipes present on the table are Fennel omelet and Kawarma Tabbouleh. 
                                p.card-thubnail-description.pt-2.mb-0
                            .col-12.p-0.m-0.pt-2.mt-auto
                                .row.mx-0.justify-content-center
                                    a.btn.card-btn.no-shadow.px-4.py-2(href="/fritters-kawarma-tabouleh")
                                        | Find out more
                    .col-lg-6.col-12.mx-0.px-2.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-Title Zenkol, Good Friday
                                .media.media-16x9.m-3
                                    a.media-content(href='/zenkol',style='background-image:url(./assets/img/savoury/zenkol-goodFriday/1.webp);' )
                            //- .col-12.p-0.m-0.p-3
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-description.pt-2.mb-0  Good Friday is one of the most important days in Christian communities all over Lebanon. This time of the year, embracing traditions, family gathering and sharing are key ingredients for typical Lebanese celebrations. 
                                p.card-thubnail-description.pt-2.mb-0 Here is the Azzam family tradition: Siham's children and grandchildren gather to shape the "zenkol", a dish only cooked on Good Friday.
                            .col-12.p-0.m-0.pt-2.mt-auto
                                .row.mx-0.justify-content-center
                                    a.btn.card-btn.no-shadow.px-4.py-2(href="/zenkol")
                                        | Find out more