extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title Sweets
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                .row.mx-0
                    .col-lg-6.col-12.mx-0.px-2.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-Title Zlebe and 3ouwaymat | زلابة و عويمات
                                .media.media-16x9.m-3
                                    a.media-content(href='/zlebe-and-3ouwaymat',style='background-image:url(./assets/img/sweets/zlebe3ouwaymat/1.webp);' )
                            //- .col-12.p-0.m-0.p-3
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-description.pt-2.mb-0  Nearly all Lebanese events and occasions are celebrated with food.
                                p.card-thubnail-description.pt-2.mb-0 These traditional sweets are made during the epihany. Deep fried, they float when cooked, symbolising the rising from baptism water.
                                p.card-thubnail-description.pt-2.mb-0 Mrs. Catherine Mouanness shares her family traditions and recipes with you. 
                            .col-12.p-0.m-0.pt-2.mt-auto
                                .row.mx-0.justify-content-center
                                    a.btn.card-btn.no-shadow.px-4.py-2(href="/zlebe-and-3ouwaymat")
                                        | Find out more
                    .col-lg-6.col-12.mx-0.px-2.mb-5
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-Title Easter Cookies | كعك العيد
                                .media.media-16x9.m-3
                                    a.media-content(href='/easter-cookies',style='background-image:url(./assets/img/sweets/easterCookies/1.webp);' )
                            //- .col-12.p-0.m-0.p-3
                            .col-12.p-0.m-0.pt-2
                                p.card-thubnail-description.pt-2.mb-0 Easter is yet another occasion celebrated with traditions and food. Some families make maamoul, others make cookies, or kaak. Malake Raad and her family from Chebanieh - Mount Lebanon, share their version of Kaak el Eid. 
                                p.card-thubnail-description.pt-2.mb-0  
                            .col-12.p-0.m-0.pt-2.mt-auto
                                .row.mx-0.justify-content-center
                                    a.btn.card-btn.no-shadow.px-4.py-2(href="/easter-cookies")
                                        | Find out more