extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title YERBA MATE
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-lg-8.px-2.px-lg-0.p-0.m-0.pt-2.embed-responsive.embed-responsive-16by9
                iframe.w-100.embed-responsive-item( src='https://www.youtube.com/embed/RgS9lsRYE8M', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                //- iframe(data-ux='Embed', allowfullscreen='', type='text/html', frameborder='0', src='//youtube.com/embed/gO-rI9VIk-k?rel=0&showinfo=0&start=0', data-aid='VIDEO_IFRAME_RENDERED')
        .row.justify-content-center.mx-0.py-3.description-bg
            .col-12.col-sm-10.px-2.px-lg-0.p-0
                .row.mx-0
                    .col-12.px-2.px-lg-0.m-0.pt-2
                        .row.mx-0.h-100.w-100.justify-content-center
                            .col-8.p-0.m-0.pt-2
                                p.recipie-Title.mb-0 The Shouf's coffee alternative
                    .col-12.mx-0.px-2.px-lg-0.mb-4
                        .row.mx-0.h-100.w-100.justify-content-center
                            .col-8.p-0.m-0.pt-2
                                p.recipie-ingredient.pt-2.mb-0 The yerba mate herb was brought by Lebanese expats' ancestors from Argentina. The habit stuck and most villagers from the Shouf region in Lebanon drink it. A LOT.
                                p.recipie-ingredient.pt-2.mb-0 Mate holds nutrients, fights bacteria, inflammations, and is full of anti-oxidants. Bombija is the tool used for drinking it. It's a combination of a strainer and a straw.
                                p.recipie-ingredient.pt-2.mb-0 Only one Gourd is served to enjoy the sharing experience. You drink an entire filling and pass it on to the person on your right. The gourd (Karaa in Arabic, literally meaning: Squash) is locally grown. After harvesting, it is hollowed fried and dried. For a better taste, it is smoked with sugar and charcoal before the first serving.  
                                p.recipie-ingredient.pt-2.mb-0 The secret for a better taste and brew of the yerba mate is to make sure the water is warm and not boiling hot! Another tip: Pour the water slowly and with a steady hand.
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                #primary-slider.splide.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/yerbaMatte/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/yerbaMatte/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/yerbaMatte/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/yerbaMatte/1.webp')
                #secondary-slider.splide.my-3.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/yerbaMatte/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/yerbaMatte/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/yerbaMatte/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/hiddenCrumbs/yerbaMatte/1.webp')