extends layout.pug
block content 
    .col-12.px-0.pt-4
        .row.justify-content-center.mx-0.py-3
            span.page-title ZLEBE AND 3OUWAYMAT | زلابة و عويمات
            .w-100.pt-3
                .row.justify-content-center
                    .page-title-underline
        .row.justify-content-center.mx-0.py-3
            .col-12.col-lg-8.px-2.px-lg-0.p-0.m-0.pt-2.embed-responsive.embed-responsive-16by9
                iframe.w-100.embed-responsive-item( src='https://www.youtube.com/embed/4IcvYhJTXWQ', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                //- iframe(data-ux='Embed', allowfullscreen='', type='text/html', frameborder='0', src='//youtube.com/embed/gO-rI9VIk-k?rel=0&showinfo=0&start=0', data-aid='VIDEO_IFRAME_RENDERED')
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-2.px-lg-0.p-0
                .row.mx-0
                    .col-12.p-0.m-0.pt-2
                        p.recipie-Title.mb-0 Catherine's Recipe
                    .col-lg-4.col-sm-6.col-12.mx-0.px-2.px-lg-2.mb-4
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 3ouwaymet | عويمات :
                                p.recipie-ingredient.pt-2.mb-0 10 Cups Flour 
                                p.recipie-ingredient.pt-2.mb-0 5 Tbs Sugar
                                p.recipie-ingredient.pt-2.mb-0 1 Cup diluted starch and water
                                p.recipie-ingredient.pt-2.mb-0 1 Tbs Yeast
                                p.recipie-ingredient.pt-2.mb-0 3 Tbs Rose Water 
                                p.recipie-ingredient.pt-2.mb-0 3 Tbs Orange Blossom Water 
                                p.recipie-ingredient.pt-2.mb-0 Warm water
                                p.recipie-subTitle.mb-1.mt-3 Zlebye | زلابة :
                                p.recipie-ingredient.pt-2.mb-0 Same recipe applies, warm water is added until consistency barely starts to liquify and sticks to the hands. 
                                p.recipie-subTitle.mb-1.mt-3 Sugar Syrup :
                                p.recipie-ingredient.pt-2.mb-0 10 Cups Sugar
                                p.recipie-ingredient.pt-2.mb-0 5 Cups of Water
                                p.recipie-ingredient.pt-2.mb-0 Juice of 1 lemon
                    .col-lg-4.col-sm-6.col-12.mx-0.px-2.px-lg-2.mb-4
                        .row.mx-0.h-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Method
                                p.recipie-ingredient.pt-2.mb-0 In a food bowl, start by mixing the dry ingredients. Then, add the diluted starch, rose water and orange blossom water. Mix well. 
                                p.recipie-ingredient.pt-2.mb-0 Gradually add warm water while mixing by hand until consistency is yoghurt like.
                                p.recipie-ingredient.pt-2.mb-0 Place the dough covered in a warm environment for 40 mins to rise. 
                                p.recipie-ingredient.pt-2.mb-0 Meanwhile, Catherine's secret to a successful sugar syrup is to dissolve all the sugar in the water while still off heat. Then, heat the mixture. After reaching the boiling point, wait for 5 mins, turn the heat off, and add the lemon juice.
                                p.recipie-ingredient.pt-2.mb-0 Mix the dough one final time before segmenting it by hand into small balls for 3ouwaymet or finger like shapes for Zlebye, directly before frying in hot cooking oil. 
                                p.recipie-ingredient.pt-2.mb-0 When the fritters are golden and floating, remove and directly soak them into the room temperature sugar syrup, drain and serve. 
                                p.recipie-ingredient.pt-2.mb-0 Deyim Deyim. 
                    .col-lg-4.col-sm-12.col-12.mx-0.px-2.px-lg-2.mb-4
                        .row.mx-0.h-100.w-100
                            .col-12.p-0.m-0.pt-2
                                p.recipie-subTitle.mb-1 Twisted method
                                p.recipie-ingredient.pt-2.mb-0 Instead of drenching the 3ouwaymet in simple syrup as traditions say; Fry the balls and let cool without soaking in the syrup. 
                                p.recipie-ingredient.pt-2.mb-0 With a piping bag, stuff the balls with your choice of Nutella, Lotus cream, or your favorite jam.
                                p.recipie-ingredient.pt-2.mb-0 Serve dusted with powdered sugar.
        .row.justify-content-center.mx-0.py-3
            .col-12.col-sm-10.px-0
                #primary-slider.splide.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/zlebe3ouwaymat/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/zlebe3ouwaymat/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/zlebe3ouwaymat/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/zlebe3ouwaymat/1.webp')
                #secondary-slider.splide.my-3.mx-auto
                    .splide__track
                        ul.splide__list
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/zlebe3ouwaymat/2.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/zlebe3ouwaymat/3.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/zlebe3ouwaymat/4.webp')
                            li.splide__slide
                                img.main-carousel-img(src='./assets/img/sweets/zlebe3ouwaymat/1.webp')